<header class="site-header">


  <div class="wrapper">
    
    <a class="site-title" href="{{ site.baseurl }}/">
      <img 
        class="site-logo"
        aria-label="{{ site.title }} home" 
        src="{{ '/images/flowers-to-the-people-website.png' | prepend: site.baseurl }}"
        width="445"
        height="326"
      >
    </a>

    {% comment %}
    <nav class="site-nav">
      <ul>
        <li>
          <a href="{{ site.baseurl }}/about">About</a>
        </li>
      </ul>
    </nav>
    {% endcomment %}

  </div>

</header>
