@use "base";

body {
  padding-bottom: 4rem;
}

.site-header {
  padding: 1rem 1rem 4rem 1rem;
  
}

.site-footer {
  padding: 4rem 1rem 0 1rem;
  text-align: right;
}

.home section,
.page main {
  max-width: 50rem;
  margin-right: auto;
  margin-left: auto;
}


/* Wider than a phone
------------------------------------------------- */
@media screen and (min-width: 40rem) {
  
  .image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(base.$spacing-unit / 2);
  }


}

/* Taller and wider than a phone
------------------------------------------------- */
@media screen and (min-width: 40rem) and (min-height: 40rem) {

}

/* Taller than a small laptop
------------------------------------------------- */
@media screen and (min-width: 40rem) and (min-height: 50rem) {



}

/* Wider than a medium laptop
------------------------------------------------- */

@media screen and (min-width: 65rem) {

}
